html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.form-user {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

#inputName, #inputSurname {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#inputSurname, #inputNickname {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.form-user button {
    margin-top: 10px;
}

.list-types button {
    white-space: normal;
}

